[Unit]
Description=Bell-Timer-System Service
After=multi-user.target
[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 /etc/Bell-Timer-System/Main.py
[Install]
WantedBy=multi-user.target